#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_12 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_13 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_14 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(270.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(270.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_15 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_16 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(270.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50) alpha(opacity=50);
  -ms-transform: rotate(270.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_28 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_17 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}