#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_1 {
  rotation: 270.0;
  margin-left: 128px;
  margin-top: -129px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Text_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_4 {
  rotation: 270.0;
  margin-left: 128px;
  margin-top: -129px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec #s-Image_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-08ed648c-06c3-458f-b0a1-257e6970a6ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}