#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rich_text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2571b5b8-0445-4af2-8485-ca94249b59ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}