#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-26ff0418-1394-46f5-a68e-d4da2243ae8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}