#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Footer-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Home_Indicator {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Header-base {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-411088f4-eda5-4b42-8a29-3afc48503026 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}