#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-433027c2-d117-4dd8-be09-093d0ce2217e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}