#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_2 > svg {
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_2 > img, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 {
  position: absolute;
  width: 255px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 > .clipping, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 > .paddingLayer {
  height: 29px;
  width: 255px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 span#rtr-s-Text_22_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_25 {
  position: absolute;
  width: 343px;
  height: 266px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_25 > img, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_25 > svg {
  height: 266px;
  width: 343px;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 {
  position: absolute;
  width: 312px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 > .clipping, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 > .paddingLayer {
  height: 22px;
  width: 312px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 {
  position: absolute;
  width: 285px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 > .clipping, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 > .paddingLayer {
  height: 22px;
  width: 285px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_26 {
  position: absolute;
  width: 343px;
  height: 266px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_26 > img, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_26 > svg {
  height: 266px;
  width: 343px;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 {
  position: absolute;
  width: 327px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 > .clipping, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 > .paddingLayer {
  height: 22px;
  width: 327px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 {
  position: absolute;
  width: 211px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 > .clipping, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 > .paddingLayer {
  height: 22px;
  width: 211px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_18 > svg {
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_18 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_18 > img, #s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_18 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}