#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-43a6f81a-5c90-47ab-8525-1f8a1c7d362a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}