#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-45eb01c5-d9da-42a2-a08d-d3137260019b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}