#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Line_1 {
  rotation: 270.0;
  margin-left: 128px;
  margin-top: -129px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4d106711-bd40-480a-b01e-4774e30ed78c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}