#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_53 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Line_54 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5b8ae02e-09b3-4f7e-ba32-e220412eb430 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}