#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-List-item-3 {
  position: absolute;
  width: 375px;
  height: 44px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 {
  position: absolute;
  width: 0px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 > .paddingLayer {
  height: 44px;
  width: 47px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_18 marker {
  fill: #DBDBDB;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 323px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_18 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DBDBDB;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_61 > svg {
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_61 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_61 > img, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_61 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-List-item-3_6 {
  position: absolute;
  width: 375px;
  height: 44px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 {
  position: absolute;
  width: 0px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 > .paddingLayer {
  height: 44px;
  width: 47px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 span#rtr-s-Rich_text_50_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_24 marker {
  fill: #DBDBDB;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_24 {
  position: absolute;
  width: 323px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_24 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DBDBDB;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_67 > svg {
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_67 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_67 > img, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_67 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 {
  position: absolute;
  width: 88px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 > .paddingLayer {
  height: 22px;
  width: 88px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_2 > svg {
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_2 > img, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-List-item-3_7 {
  position: absolute;
  width: 375px;
  height: 44px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 {
  position: absolute;
  width: 0px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 > .paddingLayer {
  height: 44px;
  width: 47px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 span#rtr-s-Rich_text_51_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_25 marker {
  fill: #DBDBDB;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_25 {
  position: absolute;
  width: 323px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_25 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DBDBDB;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_68 > svg {
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_68 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_68 > img, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_68 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 {
  position: absolute;
  width: 88px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 > .paddingLayer {
  height: 22px;
  width: 88px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-List-item-3_8 {
  position: absolute;
  width: 375px;
  height: 44px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 {
  position: absolute;
  width: 0px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 > .paddingLayer {
  height: 44px;
  width: 47px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 span#rtr-s-Rich_text_52_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_26 marker {
  fill: #DBDBDB;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #shapewrapper-s-Line_26 {
  position: absolute;
  width: 323px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_26 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DBDBDB;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 {
  position: absolute;
  width: 146px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 > .clipping, #s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 > .paddingLayer {
  height: 22px;
  width: 146px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}