#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Image_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Rich_text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-61e9b4b6-e4b8-46d2-84a6-b0e1973c7fa7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}