#s-7a4e4b28-6029-44e2-8d58-afc7eaa47916 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a4e4b28-6029-44e2-8d58-afc7eaa47916 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a4e4b28-6029-44e2-8d58-afc7eaa47916 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7a4e4b28-6029-44e2-8d58-afc7eaa47916 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7a4e4b28-6029-44e2-8d58-afc7eaa47916 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}