#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Text_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Line_1 {
  rotation: 270.0;
  margin-left: 128px;
  margin-top: -129px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8122a80f-497f-4de0-80a4-fe810e03a7f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}