#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8249be74-3a2c-42a4-bd22-27be2244f83a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}