#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}