#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_35 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_36 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_37 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_38 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_38 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_39 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_39 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_40 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_40 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_48 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_48 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_49 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_49 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_50 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_50 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_51 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_51 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_52 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_52 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_53 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Line_53 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-88dfb81f-8382-4755-a7fd-b9c39c41f65a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}