#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}