#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-920cd32c-d16d-4fe6-b445-148afcfaf7e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}