#s-946ed31f-f0be-4123-93d3-f5af3b7eedac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-946ed31f-f0be-4123-93d3-f5af3b7eedac #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-946ed31f-f0be-4123-93d3-f5af3b7eedac #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-946ed31f-f0be-4123-93d3-f5af3b7eedac #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-946ed31f-f0be-4123-93d3-f5af3b7eedac #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-946ed31f-f0be-4123-93d3-f5af3b7eedac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}