#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_48 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_49 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_50 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_51 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_52 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Line_53 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a78632eb-fc15-4eb1-a883-94b15ff54b8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}