#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_19 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_62 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_20 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_21 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_22 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_64 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_23 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_24 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_25 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_25 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_67 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_26 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_26 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_68 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_69 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_28 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_28 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_70 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_29 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_29 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rich_text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_30 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Line_30 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-afc0c54a-74f9-405a-88ba-cc6550a454bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}