#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 667px;
  width: 100%;
  height: 100%;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 > svg {
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 > img, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-List-item-3 {
  position: absolute;
  width: 375px;
  height: 44px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 {
  position: absolute;
  width: 0px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 > .clipping, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 > .paddingLayer {
  height: 44px;
  width: 47px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 53px;
  padding-right: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #shapewrapper-s-Line_18 marker {
  fill: #DBDBDB;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #shapewrapper-s-Line_18 {
  position: absolute;
  width: 323px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Line_18 {
  width: 86px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #DBDBDB;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 > svg {
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 > img, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 > svg {
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 > img, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 {
  position: absolute;
  width: 62px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 > .clipping, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 > .paddingLayer {
  height: 22px;
  width: 62px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 {
  position: absolute;
  width: 193px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 > .clipping, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 > .paddingLayer {
  height: 29px;
  width: 193px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EFEFEF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 {
  position: absolute;
  width: 376px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 > .clipping, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 > .paddingLayer {
  height: 24px;
  width: 376px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F6F7F1;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 {
  position: absolute;
  width: 376px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 > .clipping, #s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 > .paddingLayer {
  height: 24px;
  width: 376px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}