#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Line_18 {
  stroke-width: 1px;
  stroke: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}