#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba32d0c8-5516-4168-adc0-361480a3b6c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}