#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Footer-base {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Ellipse_272 {
  stroke-width: 10px;
  stroke: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Ellipse_273 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Home_Indicator {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Header-base {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-TopBots {
  border-collapse: separate;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Cell_3 > .valign {
  vertical-align: middle;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_79 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_80 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Cell_7 > .valign {
  vertical-align: middle;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d04d0931-a344-4d08-8262-df4d56843c80 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}