#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Rich_text_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 19px;
  padding-bottom: 12px;
  padding-left: 19px;
  height: 36px;
  width: 182px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Rich_text_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
  padding-top: 6px;
  padding-right: 13px;
  padding-bottom: 6px;
  padding-left: 13px;
  height: 18px;
  width: 194px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Rich_text_25 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 24px 24px 24px 24px;
  padding-top: 12px;
  padding-right: 19px;
  padding-bottom: 12px;
  padding-left: 19px;
  height: 40px;
  width: 182px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Rich_text_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 23px 23px 23px 23px;
  padding-top: 12px;
  padding-right: 19px;
  padding-bottom: 12px;
  padding-left: 19px;
  height: 38px;
  width: 182px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Rich_text_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 37px 37px 37px 37px;
  padding-top: 19px;
  padding-right: 26px;
  padding-bottom: 19px;
  padding-left: 26px;
  height: 60px;
  width: 168px;
  -ms-transform: rotate(0.0deg);
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f51250c9-f8db-4dfb-b88c-954024739358 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}